h1{
    text-align: center;
    background-color:rgb(63, 20, 72);
    margin: 0;
    padding: 40px;
    color: lightgray;
}
span{
    font-size: 25px;
    color: blueviolet;
    font-weight: bolder;
}
#game {
    text-align: center;
    margin-top: 50px;
  }
  
  #board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    width: 300px;
    margin: 0 auto;
  }
  
  .cell {
    background-color: lightgray;
    border: 2px solid darkgray;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    cursor: pointer;
  }
  
  .scoreboard {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .player {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  button {
    font-size: 18px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
  }
  
.win {
    text-decoration: line-through;
    animation: strikethrough 1s linear;
  }
  
  @keyframes strikethrough {
    0% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(1);
    }
  }
  